<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= roomName %> | Wyvern</title>
	<script>
	const roomName = "<%= roomName %>"
	const id = "<%= id %>"
	const owner = "<%= owner || null %>"
	</script>
	<script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script defer src="../script.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<style>
		#message-contaner::-webkit-scrollbar {
		  display: none;
		}
		#user-contaner::-webkit-scrollbar {
		  display: none;
		}
	</style>
	<link rel="shortcut icon" type="image/x-icon" href="https://cdn.discordapp.com/attachments/826150434581643264/827516742280544287/Icon.png">
</head>

<body>
	<nav style="border-radius: 10px; background-color: #83ce73;">
		<div class='nav-wrapper' id='append-settings'>
			<a>⠀⠀</a>

			<a class="waves-effect waves-light btn" id='back' style="background-color: #538548">Back To Home</a>
			<a class="waves-effect waves-light btn" id='name' style="background-color: #538548">Change Your Name</a>
			<a class="waves-effect waves-light btn" id='share' style="background-color: #538548">Share</a>
			<% if(owner == true){ %>
			<a class="waves-effect waves-light btn" id='settings' style="background-color: #538548">Settings</a>
			<% } %>
			<a class="right hide-on-med-and-down">⠀⠀</a>
			<a class="right brand-logo">!help</a>
			<a class="brand-logo center" id="title"><%= roomName %></a>
		</div>
	</nav>
<div class="row">
	<div class="col s2" style="background-color: #659e57; height: 100vh; border-radius: 10px;">
	<div class='contaner' align="center">

	<div id='user-contaner' style="overflow: scroll; height: 20rem; border-radius: 10px;">
		<p>Members In <%= roomName %></p>
	</div>
	</div>
	</div>
	<div class="col s10" style="background-color: #77b868; height: 100vh; border-radius: 10px; ">
	<div class='contaner' align="center">
	<div id='message-contaner' style="overflow: scroll; height: 20rem; border-radius: 10px;">
		<p>Start Of Chat</p>
	</div>
		<form id='send-message-form'>
			<label id='slowmode-show' style="color: white" align="left">Slowmode: 1</label>
			<input placeholder="Message" type='text' rows="4" cols="50" form="send-message-form" id="message-input" style="background-color: #538548; border-radius: 10px;" required autocomplete="off"></input>
			<br>
			<button type='submit' id='send-message' class="waves-effect waves-light btn" style="background-color: #538548">Send</button>
		</form>
	</div>
</div>
</div>
<footer class="page-footer" style="background-color: #83ce73">
  <div class="container">
	<div class="row">
	  <div class="col l6 s12">
		<h5 class="white-text">Wyvern</h5>
		<p class="grey-text text-lighten-4">Wyvern is ment to not have you sign in, so that means it does not collect your data, or any data about anything! There will be private rooms, and public rooms. Public rooms are shown on the main page. Private rooms need a link.</p>
	  </div>
	  <div class="col l4 offset-l2 s12">
		<h5 class="white-text">Links</h5>
		<ul>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/wyvern" target="_blank">GitHub</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://discord.com/invite/9kvTg7Pk5W" target="_blank">Discord</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://github.com/OreoDivision/wyvern/issues" target="_blank">Report Issue</a></li>
		  <li><a class="grey-text text-lighten-3" href="https://www.taskade.com/d/AjDQGcMqEVdw6EgX?share=view&view=dtP5qeBzR9kZ46ea" target="_blank">Comming Soon List</a></li>
		</ul>
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	© 2021 OreoDivision
	</div>
  </div>
</footer>
</body>

</html>